#navbar{
	height: 80px;
    width: 100%;
    position: fixed;
    top:0;
    font-family:"PingFang-SC";
    white-space: nowrap;
}
#navbar_logo{
    width: 188px;
    height:57px;
    /*background-image: url(../src/homepage.png);*/
    /*background-position: 0 -197px;*/
    /*background-repeat: no-repeat;*/
    background: url(../src/pic/homepage/uniquelogo.png) no-repeat 100%;
    float: left;
    margin: 12px 0 0 33px;
}

#navbar_menu{
	height: 100%;
    line-height: 80px;
    font-size:0.26rem;
    float: right;
}
#navbar_menu li{
    /* display:inline-block; */
    display:none;
}
#navbar_menu a{
	text-decoration: none;
	color: #fff;
	font-size: 0.26rem;
	margin-right: 0.55rem;
}

#navbar_menu a:hover,
#navbar_menu li.active a{
	color:rgb(0, 255, 184);
}
/* #navbar_btn{
    display: inline-block;
} */
#navbar_btn>#canvas{
    margin-bottom: -0.06rem;
    margin-right:0.28rem;
}